---
layout: navbar
nav-color: navbar--light
title: Resume
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.
splash: William Archer. Animator and Designer.
about: "I've been working in the design and animation industry for just over 5 years,
  working with clients directly for 2 of those. Throughout my career I've had a focus
  on working on projects that centre around motion graphics, character animation,
  art direction, illustration and design work. \nI love what I do and wouldn't change
  it for anything in the world. Every day is an opportunity to create and grow from."
timeline:
- title: Motion Graphic Designer
  place: Takt Studio
  date: "2019"
  body: Working with the People at TAKT I delivered motion graphics videos dealing
    with both video assets and vector assets for a handful of companies in my short
    time working with them.
- title: Character Animator
  place: Dirty Puppet
  date: 2017 - 2019
  body: 'Dirty Puppet is an animation studio specializing in narrative driven animations
    and award winning TVCs. In my time working working at Dirty Puppet I would start
    off as a character animator on the popular children’s web series, The Grossery
    Gang. Tasked with working from an animatic to bring the colourful characters of
    cheap town to life! Later Being brought on board for more work with a heavy focus
    on character animation and motion graphics. '
- title: Creative Director & Animator
  place: Polynaut Studios
  date: "2017"
  body: As the Creative Director, I had autonomy on all creative decisions during
    Polynaut Studios' life. Storyboards, logo designs, animatics, colour palettes,
    etc. I worked on projects from map ‘travel’ sequences to fully animated explainer
    videos for clients from all corners of Australia.
- title: 3D Modeller, Rigger & Animator
  place: Merkava Technologies
  date: "2016"
  body: Merkava Technologies is a Virtual-Reality (VR) hard-ware company that was
    interested in tapping into the software development aspects of VR. During my internship,
    I was placed in-charge of creating 3D assets, rigging and animation for an Unreal
    Engine 4 (UE4) VR project (a sci-fi spaghetti western).
- title: Bachelor of Animation
  place: SAE Qantm Creative Media Institute
  date: "2014"
- title: Bachelor of Interactive Digital Media
  place: Royal Melbourne Institute of Technology
  date: "2012"
skills:
- skill: Adobe Suite
  svg: "/assets/brand/A.svg"
  alt: A picture of the letter A.
- skill: Maya
  svg: "/assets/brand/M.svg"
  alt: A picture of the letter M.
- skill: Design
  svg: "/assets/brand/designIcon.svg"
  alt: A picture of an old man.
- skill: Animation
- skill: Technical Art
  svg: "/assets/brand/techIcon.svg"
  alt: A picture of a protractor.

---
<body class="{{ page.title }}">
    <div class="container--lg">
        <section class="header flex-grid">
            <div class="flex-grid__col header__text">
                <h1 data-aos="fade-right">{{ page.splash }}</h1>
            </div>
            <div data-aos="zoom-in" class="flex-grid__col header__icon">
                <img src="{{site.url}}/assets/brand/williamPerson.svg" alt="William Archer standing around" />
            </div>
        </section>
    </div>

    <svg style="display: block;" width="100%" height="5%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
        <path fill="#2854EA" d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
    </svg>


    <section class="about flex-grid flex-grid--md">
        <div class="flex-grid__col flex-grid__col--md about__icon">
            <img data-aos="zoom-in" src="{{site.url}}/assets/brand/artfulIcons.svg" alt="A series of art-related tools" />
        </div>
        <div class="flex-grid__col about__header">
            <h2 data-aos="fade-left">{{ page.about }}</h2>
        </div>
    </section>

    <section class="timeline">
        <h3 data-aos="fade">My Past</h3>
        {% assign sorted = page.timeline | sort: 'date' | reverse %}

        <ul class="timeline__list">
            {% for item in sorted %}
            <li data-aos="fade-up" class="timeline__event" data-date="{{ item.date }}">
                <h4>{{ item.title }}</h4>
                <h5> at {{item.place }}</h5>
                <p>{{ item.body }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="skills">
        <h3 data-aos="fade">Skills</h3>
        <div class="container--lg">
            <div class="flex-grid flex-grid--md">
                {% for item in page.skills %}
                {% if item.skill == 'Animation' %}
                <div class="flex-grid__col flex-grid__col--lg">
                    <div data-aos="fade-up" class="skills__card">
                        <svg viewBox="0 0 160 160" width="80%" height="80%">
                            <circle cx="80" cy="80" r="50" fill="#2854EA" />
                            <g transform=" matrix(0.866, -0.5, 0.25, 0.433, 80, 80)">
                                <path d="M 0,70 A 65,70 0 0,0 65,0 5,5 0 0,1 75,0 75,70 0 0,1 0,70Z" fill="#F46DD6">
                                    <animateTransform attributeName="transform" type="rotate" from="360 0 0" to="0 0 0" dur="1s" repeatCount="indefinite" />
                                </path>
                            </g>
                            <path d="M 50,0 A 50,50 0 0,0 -50,0Z" transform="matrix(0.866, -0.5, 0.5, 0.866, 80, 80)" fill="#2854EA" />
                        </svg>
                        <h4>{{ item.skill }} </h4>
                    </div>
                </div>
                {% else %}
                <div class="flex-grid__col flex-grid__col--lg">
                    <div data-aos="fade-up" class="skills__card">
                        <img class="skills__icon" src="{{ item.svg }}" alt="{{ item.alt }}" />
                        <h4>{{ item.skill }}</h4>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </section>
</body>