---
layout: head
---
<html>
<body>
    {{ content }}
    <footer class="footer" id="footer">
        <div class="container--lg">
            <div class="flex-grid flex-grid--md">
                <div class="flex-grid__col footer__form">
                    <form name="ContactForm" onsubmit="return validateForm()" action="https://formspree.io/w.archeranimation@gmail.com" method="POST">
                        <h3>Get in touch</h3>
                        <p class="small-font light-accent mb-4">w.archeranimation@gmail.com</p>
                        <div class="input">
                            <input type="text" class="input__field" id="input-1" name="name" required data-msg="Please enter your name." data-error-class="form-error" data-success-class="form-success" />
                            <label for="input-1" class="input__label">Name<span class="text-danger">*</span></label>
                        </div>
                        <div class="input">
                            <input type="email" name="email" class="input__field" id="input-2" required data-msg="Please enter your email." data-error-class="form-error" data-success-class="form-success" />
                            <label for="input-2" class="input__label">Email<span class="text-danger">*</span></label>
                        </div>
                        <div class="input">
                            <input type="tel" name="phone" class="input__field" id="input-3" />
                            <label for="input-3" class="input__label">Phone</label>
                        </div>
                        <div class="input message">
                            <textarea style="overflow:hidden" class="input__textarea" name="project" id="input-5"></textarea>
                            <label for="input-5" class="input__label">Message</label>
                        </div>
                        <button class="btn btn--success" type="submit" value="Send">
                            <span class="btn__text">SUBMIT</span>
                        </button>
                    </form>
                </div>
                <div class="flex-grid__col footer__socials">
                    <a rel="noopener" href="https://www.instagram.com/_thepinkpanda_/" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a rel="noopener" href="https://twitter.com/_thepinkpanda_" aria-label="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a rel="noopener" href="https://www.pinterest.com.au/PandaFromTheSea/" aria-label="Pinterest" target="_blank"><i class="fab fa-pinterest"></i></a>
                    <a rel="noopener" href="https://www.behance.net/warcherani3102" aria-label="Behance" target="_blank"><i class="fab fa-behance"></i></a>
                    <a rel="noopener" href="https://www.linkedin.com/in/warcheranimation/" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <div class="footer__nav">
                        <ul class="footer__menu">
                            {% for item in site.data.navigation %}
                            {% if item.title != 'Contact' %}
                            {% if page.url == item.url %}
                            <li class="footer__item">
                                <a class="animsition-link" href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% else %}
                            <li class="footer__item">
                                <a class="animsition-link" href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="footer__copyright">
                <p>© 2019 Portfolio of William Archer, All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="{{ site.url }}/js/iso.js"></script>
    <script src="{{ site.url }}/js/animsition.min.js"></script>
    <script src="{{ site.url }}/js/contact.js"></script>
    <script>
            $(document).ready(function () {
                $(".animsition").animsition({
                    inClass: 'fade-in',
                    outClass: 'fade-out',
                    inDuration: 1500,
                    outDuration: 800,
                    linkElement: '.animsition-link',
                    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
                    loading: false,
                    loadingParentElement: 'body', //animsition wrapper element
                    loadingClass: 'animsition-loading',
                    loadingInner: '', // e.g '<img src="loading.svg" />'
                    timeout: true,
                    timeoutCountdown: 500,
                    onLoadEvent: true,
                    browser: ['animation-duration', '-webkit-animation-duration'],
                    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                    overlay: false,
                    overlayClass: 'animsition-overlay-slide',
                    overlayParentElement: 'body',
                    transition: function (url) { window.location.href = url; }
                });
            });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
            AOS.init();
            window.addEventListener('load', AOS.refresh)
    </script>
    <script>
            function checkScroll() {
                var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

                if ($(window).scrollTop() > startY) {
                    $('.navbar').addClass("scrolled");
                } else {
                    $('.navbar').removeClass("scrolled");
                }
            }

            if ($('.navbar').length > 0) {
                $(window).on("scroll load resize", function () {
                    checkScroll();
                });
            }
    </script>
    {% include lazyload.html %}

</body>

</html>