---
permalink: pretty
layout: navbar
title: {{ page.project_name }}
description: {{ page.description }}
---
<div class="container--lg">
    <div class="flex-grid flex-grid--md project">
        <div class="flex-grid__col project__gallery">
            <h1>{{ page.project_name }}</h1>
            <p><i class="far fa-clock"></i>&nbsp{{ page.project_date }}&nbsp&nbsp<i class="fas fa-tags"></i>&nbsp{{ page.category }}</p>
            {% if page.video %}
            <div class="project__video">
                <iframe src="{{ page.video }}" frameborder="0" gesutre="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            {% endif %}
            <div class="project__images">
                {% for image in page.gallery %}
                <img data-aos="fade-up" img-src="assets/function/blur.jpg" data-echo="{{ image | relative_url }}" alt="{{ image.name }}" />
                {% endfor %}
            </div>
        </div>

        <div class="flex-grid__col flex-grid__col--sm project__info">
            <div>
                <h2>Client</h2>
                <ul>
                    <li>
                        <h3>Name:</h3>
                        <p>{{ page.client }}</p>
                    </li>
                    <li>
                        <h3>Services:</h3>
                        <p>{{ page.services }}</p>
                    </li>
                    {% if page.client_site %}
                    <li>
                        <h3>Website:</h3>
                        <a href="{{ page.client_site }}" class="p dark small-font" target="_blank">{{ page.client_site }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h2>Description</h2>
                <p>
                    {{ page.description }}
                </p>
            </div>
            <div>
                <h2>Tools & Tech</h2>
                <p>
                    {{ page.tools }}
                </p>
            </div>
            <div>
                <h2>Roles</h2>
                <p>
                    {{ page.roles }}
                </p>
            </div>
        </div>
    </div>
</div>